@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42; /* slate-900 */
  --background-start-rgb: 248, 250, 252; /* slate-50 */
  --background-end-rgb: 241, 245, 249; /* slate-100 */
}

.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.timer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-label {
  margin-top: 10px;
  font-size: 1.2em;
  color: #ffffff;
}

.timer-text {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
}